<%=form_with(model: [ @product, @product.comments.build ]) do |form| %>
    <%@comment = @product.comments.build%>
    <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@comment.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :images, multiple: true, direct_upload: true %>
  </div>

  <div>
    <p><%= form.text_area :body , required: true%></p>
  </div>

  <p><%= form.hidden_field :user_id, value: current_user.id %></p>
  <p><%= form.submit %></p>

<% end %>
