<%= form_with(model: [ @user, @user.products.build ], local: true) do |form| %>

  <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@product.errors.count, "error") %> prohibited
          this article from being saved:
        </h2>
        <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="field">
      <%= form.label :name,class:"col-sm-1 col-form-label" %>
      <%= form.text_field :name, class:"form-control"%>
  </div>

  <div class="field">
      <%= form.label :price, class:"col-sm-1 col-form-label"%>
      <%= form.number_field :price, class:"form-control"%>
  </div>

  <div class="field">
      <%= form.label :description, class:"col-sm-1 col-form-label" %>
      <%= form.text_field :description, placeholder: "if any", class:"form-control"%>
  </div>

  <div class="field">
      <%= form.hidden_field :user_id, value: current_user.id%>
  </div>


  <div class="field">
      <%= form.file_field :images, multiple: true, direct_upload: true, class:"form-control mt-4" %>
  </div>
  <br>

  <div class="actions">
      <%= form.submit :class => "btn btn-primary btn-block" %>
  </div>

<% end %>
