
<% @user = current_user%>


<%= link_to user_signed_in? ? user_products_path(@user) : root_path do %>
  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="efefef" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
  </svg>
<%end%>

<div class="row">
    <div class="col-10 mt-5">
        <h1 class="display-5">Product Details</h1>
        <div class="row">
            <div class="col-8 mt-5">
                  <div style="width:40rem" class="card">
                        <div class="card-body">
                                <h2 class="card-title text-capitalize"><h3 class="text-muted">Product name:</h3>
                                  <%= @product.name %></h2>
                                <p class="card-text"><h3 class="text-muted">Product price:</h3><%= number_to_currency(@product.price, precision:3 ) %></p>
                                <h6 class="card-subtitle font-light text-muted"><%= "Serial No: " + @product.serial_no %></h6>
                        </div>
                        <div class="card-footer">
                            <% if user_signed_in? && current_user.id == @product.user_id%>
                                <%= link_to edit_product_path(@product) do %>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#ebb434" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                  </svg>
                                <%end%>
                                <%= link_to @product , method: :delete, data: { confirm: 'Are you sure?' } do %>
                                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#FF0000" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                  </svg>
                                <%end%>
                            <%end%>
                        </div>
                  </div>
                  <div style="width:40rem" class="m-2">
                  <% (0...@product.images.count).each do |image_no| %>
                      <div class="m-2 d-inline">
                        <%= image_tag(@product.thumbnail(image_no))%>
                      </div>
                  <% end %>

                  </div>
            </div>
            <div class="col-6 mt-5">
              <%if user_signed_in? && current_user.id != @product.user_id%>
                <%= render 'wishlists/add_wishlist'%>
                <%= render 'orders/add_order'%>
              <%end%>
            </div>
        </div>
    </div>
    <div class="col-2 mt-5">
        <h1 class="display-6">Reviews</h1>
        <%= render @product.comments %>

        <% if user_signed_in? %>
            <%if current_user.id != @product.user_id%>
              <h2 class="display-6 mt-3">Add Review:</h2>
              <%= render 'comments/form' %>
            <%end%>
        <% else %>

    </div>
</div>

<%= render partial: 'guest_carts/form', locals: {product: @product}%>
<%end%>

